# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
local_settings.py
.env
.env.*

# Media/uploads (si no deseas trackearlos)
media/
uploads/

# Static files (si se generan en runtime)
staticfiles/
static/

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Test and coverage
htmlcov/
.coverage
.tox/
.nox/
pytest_cache/
.cache/
coverage.xml

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pip
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule

# dotenv
*.env

# SQL dumps
*.sql

# Logs
*.log

# Local IDE config
*.sublime-workspace
*.sublime-project
